<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{% url 'main:ia' %}" method = 'POST' id = 'generate'>
  {% csrf_token %}
  <select name="subjects" id="subjects">
    <option value="Math">Math</option>
    <option value="Math">CS</option>
    <option value="Math">Physics</option>
    <option value="Math">Biology</option>
    <option value="Math">Chemistry</option>
    <option value="Math">Business</option>
    <option value="Math">Economy</option>
    <option value="Math">Global Politics</option>
    <option value="Math">History</option>
    <option value="Math">Geograpy</option>
    <option value="Math">Psychology</option>
  </select>
  <input type="text" name = 'topic'>
  <button type = 'submit' class = 'generate'>Generate</button>
</form>
</body>
</html>